@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  padding-top:40px;
  color: midnightblue;
  font-family: 'Josefin Sans', sans-serif;
}

#notice {
  font-size: 1.5em;
  padding-top:10px;
}

#map {
  height: 500px;
  width: 500px;
  margin: 0;
  padding: 0;
}

.busMapBox {
  font-family: 'Josefin Sans', sans-serif;
}