<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="text-center"><i class="fa fa-bus fa-4x text-center"></i></div>
    <p id="notice"><%= notice %></p>

    <h1>Find a MARTA Bus</h1>
    <p>Enter your current location in Atlanta, GA to find nearby MARTA buses.</p>
    <%= render 'form' %>

    </div>
  <div class="col-sm-2"></div>
</div>
